In [2]:
from pymongo import MongoClient

In [3]:
try:
    client = MongoClient('mongodb://localhost:27017/')
    print ("connection successful")
except:
    print ("connection error")

connection successful

In [10]:
#ligne 15:
try:
    db = client["metflix"]
    movies_metflix = db["movies_metflix"]
    print ("connection db successful")
except AttributeError as error:
    print ("Get MongoDB database and collection ERROR:", error)

connection db successful

In [ ]:
#ligne 18:
movie_1 = { "title": "Rocky", "year": 1976 }
movie_2 = { "title": "Rocky", "year": 1976, "_id": "tt0075148" }
movie_3 = { "title": "Rocky", "year": 1976, "_id": "tt0075148" }
movie_4 = { "title": "Rocky", "year": 1976 }
movies_metflix.insert_one(movie_1)
movies_metflix.insert_one(movie_2)
movies_metflix.insert_one(movie_3)
movies_metflix.insert_one(movie_4)
#Erreur car l'_id de movie_3 est le même que celui de movie_2. movie_1 et movie_2 sont bien inséré.

In [13]:
#ligne 45:
mylist = [
    {"title": "Rocky", "year": 1976 },
    {"title": "Jaws", "year": 1975, "imdb": "tt0073195"},
    {"title": "Mad Max 2", "year": 1981, "imdb": "tt0082694"},
    {"title": "Raiders of the Lost Ark", "year": 1981, "imdb": "tt0082971"}
]
movies_metflix.insert_many(mylist)
print("add successful")

add successful

In [14]:
#ligne 57:
item_one = movies_metflix.find({"title":"Jaws"})
for item in item_one:   
    print(item)

{'_id': ObjectId('6000731c1aaf1c53b67de94d'), 'title': 'Jaws', 'year': 1975, 'imdb': 'tt0073195'}

In [15]:
#ligne 57:
items_many = movies_metflix.find()
for item in items_many:   
    print(item)

{'_id': ObjectId('6000731c1aaf1c53b67de94c'), 'title': 'Rocky', 'year': 1976}
{'_id': ObjectId('6000731c1aaf1c53b67de94d'), 'title': 'Jaws', 'year': 1975, 'imdb': 'tt0073195'}
{'_id': ObjectId('6000731c1aaf1c53b67de94e'), 'title': 'Mad Max 2', 'year': 1981, 'imdb': 'tt0082694'}
{'_id': ObjectId('6000731c1aaf1c53b67de94f'), 'title': 'Raiders of the Lost Ark', 'year': 1981, 'imdb': 'tt0082971'}

In [ ]:
#ligne 57:
item = movies.find_one()
print(item)

In [ ]:
#ligne 57:
item_1981 = movies.find({"year": 1981})
for item in item_1981:   
    print(item)

In [ ]:
#ligne 79:
import json
try:
    db = client["movies_artists"]
    movies = db["movie"]
    artists = db["artists"]
    print ("connection db successful")
except AttributeError as error:
    print ("Get MongoDB database and collection ERROR:", error)

In [ ]:
#ligne 83:
with open('artists.json') as f:
    data_artists = json.load(f)
with open('artists_suite.json') as f:
    data_artists_suite = json.load(f)
artists.remove()
artists.insert_many(data_artists)
artists.insert_many(data_artists_suite)
print("add successful")

In [ ]:
#ligne 83:
with open('movies.json') as f:
    data_movies = json.load(f)
with open('movies_suite.json') as f:
    data_movies_suite = json.load(f)
movies.remove()
movies.insert_many(data_movies)
movies.insert_many(data_movies_suite)
print("add successful")

In [ ]:
items_many = movies.find()
for item in items_many:   
    print(item)

In [ ]:
#ligne 113:
movies_12 = movies.find({},{"title"}).limit(12).skip(10)
for item in movies12:   
    print(item)

In [ ]:
#ligne 120:
movie_title = movies.find({},{"title"}).sort("title", 1)
for item in movie_title:   
    print(item)

In [ ]:
#ligne 120:
movie_title_decroi = movies.find({},{"title"}).sort("title", -1)
for item in movie_title_decroi:   
    print(item)

In [ ]:
#ligne 127:
movie_2 = movies.find({"_id": "movie:2"}, {"title", "genre", "summary"})
for item in movie_2:   
    print(item)

In [ ]:
#ligne 131:
movie_1979 = movies.find({"year": 1979},{"title", "year", "actors"}).sort("title", 1)
for item in movie_1979:   
    print(item)
#count
print(movie_1979.count())

In [ ]:
#ligne 134:
movie_science_fic = movies.find({"year": 1979, "genre" : "Science-fiction"},{"_id" : 0, "summary": 0})
for item in movie_science_fic:
    print(item)

In [ ]:
#ligne 152:
movie_direc_4 = movies.find({"director":{"_id" : "artist:4"}},{"genre" : 0, "summary": 0, "country": 0}).sort("year", 1)
for item in movie_direc_4:
    print(item)

#count
print(movie_direc_4.count())

In [ ]:
#ligne 155:
movie_director_4_maximus = movies.find({"director":{"_id" : "artist:4"}, "actors.role": "Maximus"},{"genre" : 0, "summary": 0, "country": 0})
for item in movie_director_4_maximus:
    print(item)
    
#count
print(movie_director_4_maximus.count())

In [ ]:
#ligne 164:
movies_2000_2005 = movies.find({"year":{"$gte":2000,"$lt":2005}},{"title" : 1, "year": 1}).sort("year", -1)
for item in movies_2000_2005:
    print(item)

In [ ]:
#ligne 169:
movies_actor_147_1997 = movies.find({"$or" : [{"year": 1997}, {"actors._id": "artist:147"}] },{"title" : 1, "year": 1, "actors":1})

for item in movies_actor_147_1997:
    print(item)

In [ ]:
#ligne 176:
movies_34_98_1 = movies.find({"actors._id": {"$in" : ["artist:34", "artist:98", "artist:1"] }},{"title" : 1, "year": 1, "actors": 1, "_id": 0}).sort("year", 1)

for item in movies_34_98_1:
    print(item)
    print("\n")

#count
print(movies_34_98_1.count())

In [ ]:
#ligne 179:
movies_23_147 = movies.find({"actors._id": {"$all" : ["artist:23", "artist:147"] }},{"title" : 1, "year": 1, "actors": 1, "_id": 0})

for item in movies_23_147:
    print(item)
    print("\n")
#count
print(movies_23_147.count())

In [ ]:
#ligne 182:
movies_not_34_98_1 = movies.find({"actors._id": { "$not": {"$in" : ["artist:34", "artist:98", "artist:1"] }}},{"title" : 1, "actors": 1, "_id": 0}).sort("year", 1)

for item in movies_not_34_98_1:
    print(item)
    print("\n")

#count
print(movies_not_34_98_1.count())

In [ ]:
#ligne 185:
movies_not_actors = movies.find({"actors": { "$exists": False }}, {"title", "actors"})
print(movies_not_actors.count())

In [ ]:
#ligne 185:
movies_not_actors = movies.find({"actors._id": { "$exists": False }}, {"title", "actors"})
for item in movies_not_actors:
    print(item)
#count 
print(movies_not_actors.count())

In [ ]:
#ligne 192:
eastwood = artists.find_one({"first_name": "Clint", "last_name": "Eastwood"})
print(eastwood)
print("\n")
movies_direc_eastwood = movies.find({"director._id": eastwood['_id']}, {"title": 1, "director._id" : 1})
for item in movies_direc_eastwood:
    print(item)

In [ ]:
#ligne 203:
movies_re = movies.find({"title": {"$regex": "^Re" }}, {"actors": 0, "summary": 0})
for item in movies_re:
    print(item)

In [ ]:
#ligne 208:
movies_re = movies.find({"title": {"$regex": "la$" }}, {"actors": 0, "summary": 0})
for item in movies_re:
    print(item)

In [ ]:
#ligne 214:
movies_147 = movies.find({"actors._id": "artist:147"},{"title" : 1, "actors": 1, "_id": 0})
for item in movies_147:
    print(item)
#count
print(movies_147.count())

In [ ]:
#ligne 216:
movies_147 = movies.find({"actors._id": "artist:147"},{"title" : 1, "_id": 0})
for item in movies_147:
    print(item)
#count
print(movies_147.count())