In [46]:
import pymongo
from pymongo import MongoClient
import json

In [49]:
client = MongoClient(host = "mongodb://localhost:27017/")
    
db = client.db_agg
transactions = db.transactions

In [63]:
# Q-1.
pipeline = [
    {"$unwind": "$Panier"},
    {"$group": {"_id": None, "total": {"$sum": "$Panier.price" }}},
]
        
result = [ item for item in transactions.aggregate(pipeline) ]
print(result)

[{'_id': None, 'total': 1640}]

In [62]:
# Q-2.
pipeline = [
    {"$unwind": "$Panier"},
    {"$group": {"_id": "$TransactionId", "total": {"$sum": "$Panier.price" }}},
]
        
result = [ item for item in transactions.aggregate(pipeline) ]
print(result)

[{'_id': 'tran3', 'total': 410}, {'_id': 'tran4', 'total': 410}, {'_id': 'tran1', 'total': 410}, {'_id': 'tran2', 'total': 410}]

In [60]:
 # Q-3.

matching = {"$match":{"Payment":{"$ne": None}}}
TotalPayment = {"$group" : {"_id" : "$Payment.Type", "Total Payment" : { "$sum" : "$Payment.Total" }}}
for item in transactions.aggregate( [matching,TotalPayment] ):
    print(item)

{'_id': 'Credit-Card', 'Total Payment': 820}
{'_id': 'Debit-Card', 'Total Payment': 410}

In [57]:
# Q-4.
group = {"$group": { "_id" : None , "Id": {"$max": "$Id"} }}
sort = {"$sort" : {"max" : -1}}

for item in transactions.aggregate([group, sort]):
    print(item)

{'_id': None, 'Id': 103}

In [58]:
# Q-5.
eclater = { "$unwind" : '$Panier' }
maxPrice = { "$group" : {"_id" : None , "max_price" : { "$max" : "$Panier.price" }} }
tri = {"$sort" : {"max" : -1}}
for item in transactions.aggregate( [eclater, maxPrice, tri] ):
    print(item)

{'_id': None, 'max_price': 210}